body{
    background-color: rgb(255, 255, 255);
    margin-left: 5rem;
    margin-top: 3rem;
}

.title{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(78, 92, 218);
    font-size: 5rem;
    margin-left: 1rem;
}
.subtitle1{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(0, 0, 0);  
    display: inline-block;
    margin-left: 6rem; 
}
.subtitle{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(0, 0, 0);  
    display: inline-block;
    margin-left: 1rem; 
}
.linha1{
    margin-left: 45rem;
}
