/*corpo do site*/
body {
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: none;
  position: relative;
}
/*feito para ajudar na responsividade do site*/
section {
  width: 100%;
}

.title {
  font-family: "Encode Sans SC", sans-serif;
  color: #776B5D;
  font-size: 9vw;
  margin-top: 7rem;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 3rem;
}

.title2 {
  font-family: "Encode Sans SC", sans-serif;
  color: #776B5D;
  font-size: 4rem;
  margin-top: 9rem;
  margin-bottom: 100px;
  margin-left: 1rem;
  margin-right: 0px;
}



.page1 {
  background-color: #ffffff;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
}

.page3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page4 {
  margin-left: 1rem;
  margin-top: 10px;
  text-decoration: transparent;
}

.subtitle2 {
  font-family: "Encode Sans SC", sans-serif;
  color: black;
  display: inline-block;
  font-size: 6vw;
  margin-top: 3vw;
  margin-left: 3vw;
  margin-bottom: 3vw;
}
p{
  font-family: "Encode Sans SC", sans-serif;
  color: black;
  font-size: larger;
  margin-left:3vw;
}
/*palavras do header, da linha1 (linkdln, github e netlify)*/
.subtitle {
  font-family: "Encode Sans SC", sans-serif;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 20px;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
}
.subtitle1 {
  text-decoration: transparent;
  font-family: "Encode Sans SC", sans-serif;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 35px;
  margin-top: 0.1rem;
  margin-left: 3rem;
  margin-bottom: 5rem;
}
/*header em que fica os links para as redes (linkdln, github e netlify)*/
header {
  background-color: #B0A695;
  padding-left: 65vw;
  width: auto;
  text-decoration: transparent;
  height: 2rem;
  padding-top: 1rem;
  border-radius: 5px;
}
/*header de inicio*/
header div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*linha do header do inicio da pagina*/
.linha1 {
  background-color: #B0A695;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 2rem;
}
/*botoes dos portfolios passados*/
.button1 {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  transition-duration: 0.4s;
  font-size: 1.1vw;
  margin: 1rem;
  max-width: fit-content;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-radius: 2vw;
  text-decoration: #B0A695;
  color: whitesmoke;
  outline: none;
  border: none;
}

.button1:hover {
  background-color: #776B5D;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}

#button {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  transition-duration: 0.4s;
  font-size: 15px;
  border-style: none;
  margin-bottom: 3rem;
  margin-left: 1rem;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 1rem;
  text-decoration: #87b9e2;
  color: whitesmoke;
}

#button:hover {
  background-color: #776B5D;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}

#button3 {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  width: 14vw;
  height: 7vw;
  transition-duration: 0.4s;
  font-size: 1vw;
  margin-right: 3vw;
  border-style: none;
  margin-bottom: 2vw;
  margin-left: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  color: whitesmoke;
  text-decoration: #87b9e2;
  color: whitesmoke;
}

#button3:hover {
  background-color: #92C7CF;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}

#button4 {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  width: 14vw;
  height: 7vw;
  transition-duration: 0.4s;
  font-size: 1vw;
  margin-right: 3vw;
  border-style: none;
  margin-bottom: 2vw;
  margin-left: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  color: whitesmoke;
  text-decoration: #87b9e2;
}
#button4:hover {
  background-color: #E7BCDE;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}

#button5 {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  width: 14vw;
  height: 7vw;
  transition-duration: 0.4s;
  font-size: 1vw;
  margin-right: 3vw;
  border-style: none;
  margin-bottom: 2vw;
  margin-left: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  text-decoration: #87b9e2;
  color: whitesmoke;
}

#button5:hover {
  background-color: #F7DED0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}

#button6 {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  width: 14vw;
  height: 7vw;
  transition-duration: 0.4s;
  font-size: 1vw;
  margin-right: 3vw;
  border-style: none;
  margin-bottom: 2vw;
  margin-left: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  text-decoration: #87b9e2;
  color: whitesmoke;
}

#button6:hover {
  background-color: #739072;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}
#button7 {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #B0A695;
  width: 14vw;
  height: 7vw;
  transition-duration: 0.4s;
  font-size: 1vw;
  margin-right: 3vw;
  border-style: none;
  margin-bottom: 3vw;
  margin-left: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  text-decoration: #87b9e2;
  color: whitesmoke;
}

#button7:hover {
  background-color: #4A55A2;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
  color: white;
}

.letSpac {
  letter-spacing: 1rem;
  animation: ease-in-out;
  transition: 1s;
}

.letSpac:hover {
  letter-spacing: 1.2rem;
}

.letSpac1 {
  letter-spacing: 0.1rem;
  animation: ease-in-out;
  transition: 1s;
  font-size: 1rem;
}

.letSpac1:hover {
  letter-spacing: 3px;
}

.img01{
  width: 25vw;
  position: absolute;
  right: 10vw;
  border-radius: 20vw;
  top: 9rem;
  transition: all 0.3s ease-in-out;
}
.img01:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
