body{
    background-color: rgb(255, 255, 255);
    margin-left: 1rem;
    margin-top: none;
    position: static;
}
.title{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(78, 92, 218);
    font-size: 6rem;   
    margin-top: 7rem;
    margin-left: 6px;
    margin-right: 0px;
}
.title2{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(78, 92, 218);
    font-size: 4rem;   
    margin-top: 9rem;
    margin-left: 1rem;
    margin-right: 0px;
}
img{
    width: 30rem;
    margin-left: 20rem;
}
p{
    margin-left: 1rem;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 18px;
    color: white;
}
.subtitle1{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(255, 255, 255);  
    display: inline-block;
    text-decoration: none;
    margin-top: 1px;
    margin-left: 5rem; 
    margin-bottom: 4rem;
}
.subtitle2{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(0, 0, 0);  
    display: inline-block;
    font-size: 15px;
    margin-top: 1rem;
    margin-left: 1.4rem; 
    margin-bottom: 8rem;
}
.subtitle{
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(255, 255, 255);  
    display: inline-block;
    font-size: 30px;
    margin-top: 2px;
    margin-left: 1.4rem; 
    margin-bottom: 1rem;
}
header{
    background-color:rgb(78, 92, 218);
    padding-left: 5rem;
    width: 77rem;
    text-decoration: transparent;
    height: 2rem;
    padding-top: 1rem;
    border-radius: 5px;
}
.linha1{
    margin-left: 45rem;
}
.button1{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: rgb(78, 92, 218);
    transition-duration: 0.4s;
    font-size: 15px;
    margin-bottom: 3rem;
    margin-left: 1rem; 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
    text-decoration: #87b9e2;
    color: whitesmoke;
}
.button1:hover {
    background-color: #87b9e2; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: white;
}
.button{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: rgb(78, 92, 218);
    transition-duration: 0.4s;
    font-size: 15px;
    border-style: none;
    margin-bottom: 3rem;
    margin-left: 1rem; 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
    text-decoration: #87b9e2;
    color: whitesmoke;
}
.button:hover {
    background-color: #87b9e2; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: white;
}
.button3{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: rgb(78, 92, 218);
    transition-duration: 0.4s;
    font-size: 15px;
    border-style: none;
    margin-bottom: 3rem;
    margin-left: 1rem; 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
    text-decoration: #87b9e2;
    color: whitesmoke;
}
.button3:hover {
    background-color: #0968b6; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: white;
}
.button4{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: rgb(78, 92, 218);
    transition-duration: 0.4s;
    font-size: 15px;
    border-style: none;
    margin-bottom: 3rem;
    margin-left: 1rem; 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
    text-decoration: #87b9e2;
    color: whitesmoke;
}
.button4:hover {
    background-color: #9b2424; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: white;
}
.button5{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: rgb(78, 92, 218);
    transition-duration: 0.4s;
    font-size: 15px;
    border-style: none;
    margin-bottom: 3rem;
    margin-left: 1rem; 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
    text-decoration: #87b9e2;
    color: whitesmoke;
}
.button5:hover {
    background-color: #862b82; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: white;
}
.button6{
    font-family: 'Encode Sans SC', sans-serif;
    background-color: rgb(78, 92, 218);
    transition-duration: 0.4s;
    font-size: 15px;
    border-style: none;
    margin-bottom: 3rem;
    margin-left: 1rem; 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
    text-decoration: #87b9e2;
    color: whitesmoke;
}
.button6:hover {
    background-color: #206e15; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: white;
}


.page1{
    background-color: #ffffff;
    margin-bottom: 12rem;
}

.page3{
    background-color:rgb(78, 92, 218);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    width: 50rem;
    text-decoration: transparent;
    height: 20rem;
    padding-top: 1px;
}
.letSpac{
    letter-spacing: 1rem;
    animation: ease-in-out;
    transition: 1s;
}
.letSpac:hover{
    letter-spacing: 1.2rem;
}
.letSpac1{
    letter-spacing: 0.1rem;
    animation: ease-in-out;
    transition: 1s;
    font-size: 1rem;
}
.letSpac1:hover{
    letter-spacing: 3px;
}
hr{
    margin-bottom: 8rem;
    margin-top: 8rem;
}


