/*corpo do site*/
body {
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: none;
  position: relative;
}

/*feito pra ajudar a manter a responsividade do site*/
section {
  width: 100%;
}

/*                     PAGINA DA AREA DE MATEMATICA                   */
.interface1 {
  background-color: #ffffff;
}
.page2 {
  background-color: #ffffff;
}
.titlecard1{
  font-family: "Encode Sans SC", sans-serif;
  color:#202727;
}
.subtitlecard1{
  font-family: "Encode Sans SC", sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.title1 {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 9vw;
  margin-bottom: 50px;
  color: #AAD7D9;
}
.header1 {
  background-color: #92C7CF;
  padding-left: 73vw;
  width: auto;
  text-decoration: transparent;
  height: 2rem;
  padding-top: 1rem;
  border-radius: 5px;
}
.button1{
  margin-left: 2vw;
  width: 10vw;
  height: 2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
  border-color: transparent;
  background-color: #AAD7D9;
  border-radius: 1vw;
}
/*header de inicio*/
.header1 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
  width: 20%;
  border-radius: 25px;
}
.card1:hover {
  box-shadow: 20px 20px 25px 0 rgba(0,0,0,0.2);
}
.img02 {
  border-radius: 10px 10px 0 0;
}
.container1 {
  padding: 2px 16px;
  margin-bottom: 4vw;
}

/*                     PAGINA DA AREA DE LINGUAGENS                 */
.title2 {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 9vw;
  margin-bottom: 50px;
  color: #FED9ED;
}
.header2 {
  background-color: #E7BCDE;
  padding-left: 73vw;
  width: auto;
  text-decoration: transparent;
  height: 2rem;
  padding-top: 1rem;
  border-radius: 5px;
}
/*header de inicio*/
.header2 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*                     PAGINA DA AREA DE HUMANAS                 */
.b3 {
  background-color: #ffffff;
}
.box{
  display: inline-block;
}
.title3 {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 9vw;
  margin-bottom: 50px;
  color: #FFBE98;
}

.titlecard3{
  font-family: "Encode Sans SC", sans-serif;
  color:#202727;
}
.subtitlecard3{
  font-family: "Encode Sans SC", sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.header3 {
  background-color: #ddac90;
  padding-left: 73vw;
  width: auto;
  text-decoration: transparent;
  height: 2rem;
  padding-top: 1rem;
  border-radius: 5px;
}
.button3{
  margin-left: 2vw;
  width: 10vw;
  height: 2vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
  border-color: transparent;
  background-color: #FFBE98;
  border-radius: 1vw;
}
/*header de inicio*/
.header3 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.interfac3 {
  background-color: #F7DED0;
}

.page4 {
  background-color: #F7DED0;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
  width: 20%;
  border-radius: 25px;
}
.card3:hover {
  box-shadow: 20px 20px 25px 0 rgba(0,0,0,0.2);
}
.img03 {
  border-radius: 10px 10px 0 0;
}
.container3 {
  padding: 2px 16px;
  margin-bottom: 4vw;
}

/*                     PAGINA DA AREA DE NATUREZA                */
.b1 {
  background-color: #f8f8f8;
  
}

.title4 {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 9vw;
  margin-bottom: 50px;
  color: #4F6F52;
}

.header4 {
  background-color: #739072;
  padding-left: 73vw;
  width: auto;
  text-decoration: transparent;
  height: 2rem;
  padding-top: 1rem;
  border-radius: 5px;
}

/*header de inicio*/
.header4 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.interface {
  background-color: #ffffff;
}

.page4 {
  background-color: #ffffff;
}


/* AQUI FICA AS DIVS GERAIS(QUE USO EM TODAS AS SUBPAGINAS)*/
.subtitle {
  font-family: "Encode Sans SC", sans-serif;
  text-decoration: transparent;
  margin-right: 40px;
  color: aliceblue;
  font-size: 20px;
}

.letSpac {
  letter-spacing: 0.1rem;
  animation: ease-in-out;
  transition: 1s;
  font-size: 1rem;
}

.letSpac:hover {
  letter-spacing: 3px;
}

/* subtitulo abaixo dos nomes das areas*/
.subtitle1 {
  font-family: "Encode Sans SC", sans-serif;
  margin-left: 1vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
  position: static;
  color: rgb(100, 100, 100);
}

.letSpac1 {
  letter-spacing: 0.1rem;
  animation: ease-in-out;
  transition: 1s;
  font-size: 2rem;
}

.letSpac1:hover {
  letter-spacing: 4px;
}
.titlemid{
  font-size: 5vw;
  font-family: "Encode Sans SC", sans-serif;
  color: rgb(100, 100, 100);
}
