/*corpo do site*/
body {
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: none;
  position: relative;
}
/*feito pra ajudar a manter a responsividade do site*/
section {
  width: 100%;
}
